@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
}

.geral {
    background-color: silver;
    width: 100%;
    height: 100%;
    position: absolute;
    display: flex;
    flex-direction: column; /* Coloca os containers um abaixo do outro */
}

.linha, .linha2 {
    width: 100%;
}

.linha1{
    height: 30%;
    background-color: rgb(190, 218, 249);
}

.linha2{
    height: 70%;
    background-color: rgb(167, 249, 133);
}

