@charset "utf-8";

body {
    color: #ffffff;
    font-family: Verdana, Arial, Helvetica;
    font-size: 12px;
    text-align: justify;
}

#geral {
    background-color: #666666;
    margin: auto;
    width: 800px;
}

header {
    background: url(../img/bannerValorant.jpg) repeat-x center;
    object-fit: cover;
    height: 240px;
    opacity: 0.7;
}

nav {
    display: flex;
    justify-content: center;
    background-color: #999999;
    height: 50px;
    text-align: center;
    align-items: center;
}

.navBar li{
    display: inline-block;
    border: 1px solid white;
    padding: .7em 3em;
}

article {
    background-color: #cccccc;
    width: 320px;
    height: 660px;
    float: right;
    margin-top: 3px;
}

article p {
    color: #000;
}

aside {
    background-color: #333333;
    width: 480px;
    float: left;
    margin-top: 3px;
}

aside ul li {
    padding-top: 1em;
}

.container {
    width: 95%;
    margin: 0 auto;
}

figure {
    width: 85%;
    height: 85%;
}

img {
    width: 100%;
    height: 100%;
}

.twitter-tweet {
    width: 75%;
    height: 70%;
}