<!DOCTYPE html>
<html lang="pt-br">
	<head>
		<meta charset="utf-8">
		<title> Layouts - Criando layout Fixo e Líquido para sites </title>
		<meta name="description" content="Layouts - Criando layout Fixo e Líquido para sites">
		<meta name="keywords" content="Layouts, Design, Layout Líquido, Layout Fixo, Layout Responsivo">
		<meta name="author" content="Guilherme Denck::guidenck0303@gmail.com">
		<link rel="shortcut icon" href="img/icone.png">
		<link rel="stylesheet" type="text/css" href="css/estilo01.css">			
	</head>
	<body>
		<main class="geral">
			<header class="topo">
				<h1 style="display:none"> Tipos de Layouts </h1>
				<!--Normalmente se preenche pelo CSS-->
			</header>
			<nav class="menu">
				<!--Normalmente criamos uma lista e transformamos em menu-->
			</nav>
			<section class="conteudo">
				<h2 style="display:none"> Estruturas de Layouts </h2>
				<!--Normalmente colocamos conteúdo do site-->
			</section>
			<footer class="rodape">
				<!--Normalmente colocamos endereço - e-mail - dados do site-->
			</footer>
		</main>	
	</body>
</html>